@import "functions";
@import "typography";

@charset "utf-8";

.donations-content {
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  &#lobby-title {
    font-size: 48px;
    padding: 0;
    margin: 0;
    background-color: $red-color2;
    font-weight: $font-normal;
    color: $white;
    height: 80px;
    line-height: 80px;
  }

  &#process-title {
    font-size: 36px;
    color: $black-color2;
    background-color: $gray-color7;
    height: 65px;
    line-height: 65px;
    padding: 0;
    margin: 0;
  }
}

#back-link {
  text-align: start;
  height: 45px;
  line-height: 45px;
}

#lobby-subtitle {
  h2 {
    font-size: 36px;
    font-weight: $font-normal;
    color: $red-color2;
    margin: 0;
  }

  p {
    font-size: 140%;
    line-height: 140%;
    padding: 0 5%;
  }
}

#passage {
  height: 60px;
  line-height: 60px;
  padding: 0;

  p {
    color: $white;
    background-color: $red-color4;
    font-weight: $font-bold;
    font-size: 28px;

    small {
      font-size: 70%;
      font-weight: $font-normal;
    }

    small::before {
      content: '   ';
    }
  }
}

.hero {
  position: relative;

  .hero-label {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: $font-bold;
    font-size: 26px;

    &.black-overlay-bg {
      color: $white;
      background: $black;
      background: -webkit-linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
      background: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
    }
  }
}

.btn-wrapper {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

.btn {
  border-radius: 0;
  border: none;
  text-align: center;
  color: $white;
  width: 100%;
  font-size: 20px;
  height: 60px;
  line-height: 60px;

  a {
    vertical-align: middle;
    color: $white;
    text-decoration: none;
    font-weight: $font-bold;
  }

  &.cyan-btn {
    background-color: $blue-color3;
  }

  &.big {
    width: 25%;

    h2 {
      font-size: 36px;
      margin: 0;
    }
  }
}

#lobby-links.row {
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 15px;

  .article-box {
    padding: 0 4px;

    figure {
      height: 180px;
      overflow: hidden;
    }

    .flex-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 60px;

      h3 {
        margin: 0;
        font-size: 20px;

        span {
          color: $white;
          font-weight: $font-bold;
          font-size: 16px;
        }

        span::before {
          content: '\A';
          white-space: pre;
        }
      }
    }
  }
}

#donate-process-flow {
  nav {
    margin: 0;
    overflow: hidden;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;

        a {
          font-size: 130%;
          text-decoration: none;
          line-height: 40px;
          color: $font-color;
        }
      }
    }
  }
}

#donate-process-options {
  ul {
    height: 55px;
    line-height: 55px;
    margin-left: -4px;
    margin-right: -4px;
    border: 0;

    li {
      width: 25%;
      padding: 0 4px;
      border: 0;

      a {
        background-color: $gray-color7;
        font-size: 24px;
        color: #646464;
        text-decoration: none;
      }

      &.active {
        a {
          font-weight: $font-bold;
          border-radius: 0;
          background-color: $white;
          border: 0;

          span {
            border-bottom: 4px solid #cf5746;
          }
        }
      }
    }
  }

  .tab-content {
    text-align: start;
    margin-top: 50px;
    min-height: 300px;

    strong {
      font-weight: $font-normal;
      font-size: 24px;
    }

    #online {
      p {
        text-align: center;

        strong {
          font-weight: $font-bold;
        }
      }
    }
  }
}

#donate-process-bottom {
  border-top:  5px solid $gray-color5;

  h4 {
    color: #696969;
    font-weight: $font-normal;
    font-size: 26px;
    margin-top: 40px;
  }
}

/**************/
/* responsive */
/**************/

@import "responsive";