@import "functions";
@import "typography";

@charset "utf-8";

/******************/
/* general layout */
/******************/

@include load-font("anomalia-light", "anomalia/anomalia-light-aaa", light, normal);
@include load-font("anomalia-regular", "anomalia/anomalia-regular-aaa", regular, normal);
@include load-font("ploni-regular", "ploni/ploni-regular-aaa", regular, normal);
@include load-font("ploni-bold", "ploni/ploni-bold-aaa", bold, normal);

* {
	@include reset;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	@include font( 'ploni-regular' );
	color: $black;
	background-color: $white;

	&:before {
		display: none;
	}
}

::-webkit-scrollbar {
	display: none;
}

/**********/
/* header */
/**********/

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	/********/
	/* logo */
	/********/

	.logo {
		margin: 30px auto 25px;
	}
}

/***********/
/* banner */
/***********/

.banner {
	position: relative;
	overflow: hidden;

	.slideshow-placeholder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.slideshow {
			width: 100%;
			height: 100%;

			.cycle-slideshow {
				width: 100% !important;
				max-width: 100%;
				height: 100%;

				.cycle-carousel-wrap {
					width: 100%;
					height: 100%;

					.slide {
						width: 100%;
						height: 100%;
						display: none;

						&:first-child,
						&.cycle-slide {
							display: block;
						}
					}
				}

				.cycle-pager {
					position: absolute;
					bottom: 10px;
					width: 100%;
					text-align: center;
					overflow: hidden;
					z-index: 500;

					span {
						display: inline-block;
						background-color: $white;
						@include border-radius(50%);
						cursor: pointer;

						&.cycle-pager-active {
							background-color: $black;
						}
					}
				}
			}
		}
	}

	.content-wrap {
		position: absolute;
		padding: 0 15px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;

		.content {
			text-align: center;

			.logo {
				a {
					position: relative;
					display: inline-block;

					svg {
						fill: $white;
						-webkit-filter: drop-shadow(2px 2px 0 $black);
						filter: drop-shadow(2px 2px 0 $black);
					}

					&:after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						background-color: $white;
						@include box-shadow(2px, 2px, $black);
						@include opacity(.5);
					}
				}
			}

			.title {
				@include font('anomalia-regular');
				color: $white;
				-webkit-filter: drop-shadow(2px 2px 0 $black);
				filter: drop-shadow(2px 2px 0 $black);
			}

			.buttons {
				pointer-events: initial;
			}
		}
	}
}

/****************/
/* introduction */
/****************/

.introduction {
	overflow: hidden;

	img {
		float: left;
	}

	.content-wrap {
		h2 {
			@include font('anomalia-regular');
		}

		.sub-title {
			@include font('anomalia-regular');
		}
	}
}

/***********/
/* buttons */
/***********/

.anu-btn {
	@include font('anomalia-regular');
	text-decoration: none;

	&.tickets-btn {
		color: $white;
		background-color: $blue;

		&:hover {
			background-color: $black;
		}
	}

	&.museum-btn {
		color: $blue;
		border: 2px solid $blue;
		background-color: #FFFFFFB3;

		&:hover {
			color: $black;
			border-color: $black;
		}
	}
}

/**************/
/* responsive */
/**************/

@media (min-width: 768px) {
	.visible-xs {
		display: none;
	}

	.hidden-xs {
		display: block;
	}

	body {
		line-height: px2vw(50px, 1920px);
		font-size: px2vw(30px, 1920px);

		&:before {
			content: "768";
		}
	}

	/**********/
	/* header */
	/**********/

	header {

		/********/
		/* logo */
		/********/

		.logo {
			width: 278px;
			height: 108px;
		}
	}

	/***********/
	/* banner */
	/***********/

	.banner {
		padding-top: 50.520833333%;

		.slideshow-placeholder {
			.slideshow {
				.cycle-slideshow {
					.cycle-carousel-wrap {
						.slide {
							img {
								width: auto;
								height: auto;
								min-width: 100%;
								min-height: 100%;
							}
						}
					}

					.cycle-pager {
						span {
							margin: 0 15px;
							width: 14px;
							height: 14px;
						}
					}
				}
			}
		}

		.content-wrap {
			.content {
				.logo {
					a {
						margin: px2vw(200px, 1920px) auto px2vw(25px, 1920px);
						padding-bottom: px2vw(70px, 1920px);

						svg {
							height: px2vw(170px, 1920px);
						}

						&:after {
							height: px2vw(10px, 1920px);
						}
					}
				}

				.title {
					margin-bottom: px2vw(25px, 1920px);
					line-height: px2vw(153px, 1920px);
					font-size: px2vw(110px, 1920px);
				}

				.buttons {
					.anu-btn {
						margin: 0 px2vw(12px, 1920px);
						display: inline-block;
					}
				}
			}
		}
	}

	/****************/
	/* introduction */
	/****************/

	.introduction {
		margin: 60px 0;

		img {
			max-width: px2vw(367px, 1920px);
		}

		.content-wrap {
			padding: px2vw(100px, 1920px) px2vw(392px, 1920px) 0 px2vw(485px, 1920px);

			h2 {
				margin-bottom: px2vw(15px, 1920px);
				line-height: px2vw(83px, 1920px);
				font-size: px2vw(60px, 1920px);
			}

			.sub-title {
				margin-bottom: px2vw(35px, 1920px);
				line-height: px2vw(55px, 1920px);
				font-size: px2vw(40px, 1920px);
			}
		}
	}

	/***********/
	/* buttons */
	/***********/

	.anu-btn {
		line-height: px2vw(39px, 1920px);
		font-size: px2vw(28px, 1920px);
		min-width: px2vw(254px, 1920px);

		&.tickets-btn {
			padding: px2vw(16px, 1920px) px2vw(5px, 1920px);
		}

		&.museum-btn {
			padding: px2vw(14px, 1920px) px2vw(3px, 1920px);
		}
	}
}

@media (max-width: 767px) {
	.visible-xs {
		display: block;
	}

	.hidden-xs {
		display: none;
	}

	body {
		line-height: px2vw(20px, 320px);
		font-size: px2vw(14px, 320px);

		&:before {
			content: "767";
		}
	}

	/**********/
	/* header */
	/**********/

	header {

		/********/
		/* logo */
		/********/

		.logo {
			width: 132px;
			height: 51px;
		}
	}

	/***********/
	/* banner */
	/***********/

	.banner {
		padding-top: 567px;

		.slideshow-placeholder {
			.slideshow {
				.cycle-slideshow {
					.cycle-carousel-wrap {
						.slide {
							div {
								width: 100%;
								height: 100%;
							}
						}
					}

					.cycle-pager {
						span {
							margin: 0 5px;
							width: 6px;
							height: 6px;
						}
					}
				}
			}
		}

		.content-wrap {
			.content {
				@include vertical-align;

				.logo {
					a {
						margin: 0 auto 20px;
						padding-bottom: 30px;
						width: px2vw(248px, 320px);

						&:after {
							height: px2vw(4px, 320px);
						}
					}
				}

				.title {
					margin-bottom: 30px;
					line-height: 40px;
					font-size: 36px;
				}

				.buttons {
					.anu-btn {
						margin: 0 auto 17px;
						display: block;
					}
				}
			}
		}
	}

	/****************/
	/* introduction */
	/****************/

	.introduction {
		margin: 30px 0;

		img {
			max-width: px2vw(80px, 320px);
		}

		.content-wrap {
			h2 {
				padding: 25px 15px 0 px2vw(101px, 320px);
				margin-bottom: px2vw(6px, 320px);
				line-height: px2vw(25px, 320px);
				font-size: px2vw(18px, 320px);
			}

			.sub-title {
				padding: 0 15px 0 px2vw(101px, 320px);
				line-height: px2vw(18px, 320px);
				font-size: px2vw(16px, 320px);
			}

			.content {
				padding: 30px 15px 0;
				clear: both;
			}
		}
	}

	/***********/
	/* buttons */
	/***********/

	.anu-btn {
		line-height: 20px;
		font-size: 14px;
		width: 148px;

		&.tickets-btn {
			padding: 6px 5px;
		}

		&.museum-btn {
			padding: 4px 3px;
		}
	}
}