@import "functions";
@import "typography";

@charset "utf-8";

/******************/
/* general layout */
/******************/

@include load-font("anomalia-light", "anomalia/anomalia-light-aaa", light, normal);
@include load-font("anomalia-regular", "anomalia/anomalia-regular-aaa", regular, normal);
@include load-font("ploni-regular", "ploni/ploni-regular-aaa", regular, normal);
@include load-font("ploni-bold", "ploni/ploni-bold-aaa", bold, normal);

* {
	@include reset;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	@include font( 'ploni-regular' );
	color: $black;
	background-color: $white;

	&:before {
		display: none;
	}
}

::-webkit-scrollbar {
	display: none;
}

.flex-video {
	position: relative;
	height: 0;
	overflow: hidden;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/**********/
/* header */
/**********/

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $white;
	z-index: 100;

	/********/
	/* logo */
	/********/

	.logo {
		margin: 30px auto 25px;
	}
}

/***********/
/* banner */
/***********/

.banner {
	position: relative;
	overflow: hidden;
	z-index: 200;

	.slideshow-placeholder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.slideshow {
			width: 100%;
			height: 100%;

			.cycle-slideshow {
				width: 100% !important;
				max-width: 100%;
				height: 100%;

				.cycle-carousel-wrap {
					width: 100%;
					height: 100%;

					.slide {
						width: 100%;
						height: 100%;
						display: none;

						&:first-child,
						&.cycle-slide {
							display: block;
						}
					}
				}

				.cycle-pager {
					position: absolute;
					bottom: 10px;
					width: 100%;
					text-align: center;
					overflow: hidden;
					z-index: 500;

					span {
						display: inline-block;
						background-color: $white;
						@include border-radius(50%);
						cursor: pointer;

						&.cycle-pager-active {
							background-color: $black;
						}
					}
				}
			}
		}
	}

	.content-wrap {
		position: absolute;
		padding: 0 15px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;

		.content {
			text-align: center;

			.logo {
				a {
					position: relative;
					display: inline-block;

					svg {
						fill: $white;
						-webkit-filter: drop-shadow(2px 2px 0 $black);
						filter: drop-shadow(2px 2px 0 $black);
					}

					&:after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						background-color: $white;
						@include box-shadow(2px, 2px, $black);
						@include opacity(.5);
					}
				}
			}

			.title {
				@include font('anomalia-regular');
				color: $white;
				-webkit-filter: drop-shadow(2px 2px 0 $black);
				filter: drop-shadow(2px 2px 0 $black);
			}

			.buttons {
				pointer-events: initial;
			}
		}
	}
}

/****************/
/* introduction */
/****************/

.introduction {
	overflow: hidden;

	img {
		float: left;
	}

	.content-wrap {
		h2 {
			@include font('anomalia-regular');
		}

		.sub-title {
			@include font('anomalia-regular');
		}
	}
}

/*********/
/* video */
/*********/

.video {
	.video-single {
		position: relative;

		.video-wrap {
			position: relative;

			.video-poster {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $black;
				background-size: cover;
				@include opacity(1);
				-webkit-transition: opacity 800ms, height 0s;
				-moz-transition: opacity 800ms, height 0s;
				transition: opacity 800ms, height 0s;
				-webkit-transition-delay: 0s, 0s;
				-moz-transition-delay: 0s, 0s;
				transition-delay: 0s, 0s;
				cursor: pointer;

				&:before {
					content: "";
					position: absolute;
					@include border-radius(50%);
					background-color: $white;
				}

				&:after {
					content: "";
					position: absolute;
					width: 0;
					height: 0;
				}
			}
		}

		.content-bg-wrap {
			.content-wrap {
				h3 {
					@include font('anomalia-regular');
				}

				.sub-title {
					@include font('anomalia-regular');
				}
			}
		}

		.list {
			position: absolute;
			list-style: none;

			li {
				@include font('anomalia-regular');
				color: $black;
				@include border-radius(50%, false);
				background-color: $white;
				text-align: center;

				&.current {
					color: $white;
					background-color: $blue;
				}
			}
		}

		&.active {
			.video-wrap {
				.video-poster {
					height: 0;
					@include opacity(0);
					-webkit-transition-delay: 0s, 800ms;
					-moz-transition-delay: 0s, 800ms;
					transition-delay: 0s, 800ms;
				}
			}
		}
	}
}

/***********/
/* buttons */
/***********/

.anu-btn {
	@include font('anomalia-regular');
	text-decoration: none;

	&.tickets-btn {
		color: $white;
		background-color: $blue;

		&:hover {
			background-color: $black;
		}
	}

	&.museum-btn {
		color: $blue;
		border: 2px solid $blue;
		background-color: #FFFFFFB3;

		&:hover {
			color: $black;
			border-color: $black;
		}
	}
}

/**************/
/* responsive */
/**************/

@media (min-width: 768px) {
	.visible-xs {
		display: none;
	}

	.hidden-xs {
		display: block;
	}

	body {
		line-height: px2vw(50px, 1920px);
		font-size: px2vw(30px, 1920px);

		&:before {
			content: "768";
		}
	}

	.flex-video {
		padding-bottom: 44.791666667%;
	}

	/**********/
	/* header */
	/**********/

	header {

		/********/
		/* logo */
		/********/

		.logo {
			width: 278px;
			height: 108px;
		}
	}

	/***********/
	/* banner */
	/***********/

	.banner {
		padding-top: 50.520833333%;

		.slideshow-placeholder {
			.slideshow {
				.cycle-slideshow {
					.cycle-carousel-wrap {
						.slide {
							img {
								width: auto;
								height: auto;
								min-width: 100%;
								min-height: 100%;
							}
						}
					}

					.cycle-pager {
						span {
							margin: 0 15px;
							width: 14px;
							height: 14px;
						}
					}
				}
			}
		}

		.content-wrap {
			.content {
				.logo {
					a {
						margin: px2vw(200px, 1920px) auto px2vw(25px, 1920px);
						padding-bottom: px2vw(70px, 1920px);

						svg {
							height: px2vw(170px, 1920px);
						}

						&:after {
							height: px2vw(10px, 1920px);
						}
					}
				}

				.title {
					margin-bottom: px2vw(25px, 1920px);
					line-height: px2vw(153px, 1920px);
					font-size: px2vw(110px, 1920px);
				}

				.buttons {
					.anu-btn {
						margin: 0 px2vw(12px, 1920px);
						display: inline-block;
					}
				}
			}
		}
	}

	/****************/
	/* introduction */
	/****************/

	.introduction {
		margin: 60px 0;

		img {
			max-width: px2vw(367px, 1920px);
		}

		.content-wrap {
			padding: px2vw(100px, 1920px) px2vw(392px, 1920px) 0 px2vw(485px, 1920px);

			h2 {
				margin-bottom: px2vw(15px, 1920px);
				line-height: px2vw(83px, 1920px);
				font-size: px2vw(60px, 1920px);
			}

			.sub-title {
				margin-bottom: px2vw(35px, 1920px);
				line-height: px2vw(55px, 1920px);
				font-size: px2vw(40px, 1920px);
			}
		}
	}

	/*********/
	/* video */
	/*********/

	.video {
		.video-single {
			margin-bottom: 30px;

			.video-wrap {
				.video-poster {
					&:before {
						@include calc(top, "50% - "px2vw(55px, 1920px));
						@include calc(left, "50% - "px2vw(55px, 1920px));
						width: px2vw(110px, 1920px);
						height: px2vw(110px, 1920px);
						@include transition(all, .2s);
					}

					&:after {
						@include calc(top, "50% - "px2vw(24px, 1920px));
						@include calc(left, "50% - "px2vw(15px, 1920px));
						border-top: px2vw(24px, 1920px) solid transparent;
						border-bottom: px2vw(24px, 1920px) solid transparent;
						border-left: px2vw(39px, 1920px) solid $blue;
					}

					&:hover {
						&:before {
							@include calc(top, "50% - "px2vw(65px, 1920px));
							@include calc(left, "50% - "px2vw(65px, 1920px));
							width: px2vw(130px, 1920px);
							height: px2vw(130px, 1920px);
						}
					}
				}
			}

			.content-bg-wrap {
				position: absolute;
				top: 0;
				left: 0;
				width: px2vw(1088px, 1920px);
				height: 100%;
				background: transparent linear-gradient(270deg, #00000000 0%, #000000B3 60%, #000000BF 100%) 0% 0% no-repeat padding-box;
				pointer-events: none;

				.content-wrap {
					margin-left: px2vw(139px, 1920px);
					width: px2vw(575px, 1920px);
					color: $white;
					@include vertical-align;

					h3 {
						margin: 0;
						line-height: px2vw(83px, 1920px);
						font-size: px2vw(60px, 1920px);
					}

					.sub-title {
						margin-bottom: px2vw(24px, 1920px);
						line-height: px2vw(46px, 1920px);
						font-size: px2vw(40px, 1920px);
					}

					.content {
						line-height: px2vw(40px, 1920px);
						font-size: px2vw(24px, 1920px);
					}
				}
			}

			.list {
				top: px2vw(33px, 1920px);
				right: px2vw(36px, 1920px);

				li {
					margin-bottom: px2vw(20px, 1920px);
					width: px2vw(60px, 1920px);
					height: px2vw(60px, 1920px);
					line-height: px2vw(60px, 1920px);
					font-size: px2vw(46px, 1920px);
					border: px2vw(2px, 1920px) solid $black;
				}
			}
		}
	}

	/***********/
	/* buttons */
	/***********/

	.anu-btn {
		line-height: px2vw(39px, 1920px);
		font-size: px2vw(28px, 1920px);
		min-width: px2vw(254px, 1920px);

		&.tickets-btn {
			padding: px2vw(16px, 1920px) px2vw(5px, 1920px);
		}

		&.museum-btn {
			padding: px2vw(14px, 1920px) px2vw(3px, 1920px);
		}
	}
}

@media (max-width: 767px) {
	.visible-xs {
		display: block;
	}

	.hidden-xs {
		display: none;
	}

	body {
		line-height: px2vw(20px, 320px);
		font-size: px2vw(14px, 320px);

		&:before {
			content: "767";
		}
	}

	.flex-video {
		padding-bottom: 56.25%;
	}

	/**********/
	/* header */
	/**********/

	header {

		/********/
		/* logo */
		/********/

		.logo {
			width: 132px;
			height: 51px;
		}
	}

	/***********/
	/* banner */
	/***********/

	.banner {
		padding-top: 567px;

		.slideshow-placeholder {
			.slideshow {
				.cycle-slideshow {
					.cycle-carousel-wrap {
						.slide {
							div {
								width: 100%;
								height: 100%;
							}
						}
					}

					.cycle-pager {
						span {
							margin: 0 5px;
							width: 6px;
							height: 6px;
						}
					}
				}
			}
		}

		.content-wrap {
			.content {
				@include vertical-align;

				.logo {
					a {
						margin: 0 auto 20px;
						padding-bottom: 30px;
						width: px2vw(248px, 320px);

						&:after {
							height: px2vw(4px, 320px);
						}
					}
				}

				.title {
					margin-bottom: 30px;
					line-height: 40px;
					font-size: 36px;
				}

				.buttons {
					.anu-btn {
						margin: 0 auto 17px;
						display: block;
					}
				}
			}
		}
	}

	/****************/
	/* introduction */
	/****************/

	.introduction {
		margin: 30px 0;

		img {
			max-width: px2vw(80px, 320px);
		}

		.content-wrap {
			h2 {
				padding: 25px 15px 0 px2vw(101px, 320px);
				margin-bottom: px2vw(6px, 320px);
				line-height: px2vw(25px, 320px);
				font-size: px2vw(18px, 320px);
			}

			.sub-title {
				padding: 0 15px 0 px2vw(101px, 320px);
				line-height: px2vw(18px, 320px);
				font-size: px2vw(16px, 320px);
			}

			.content {
				padding: 30px 15px 0;
				clear: both;
			}
		}
	}

	/*********/
	/* video */
	/*********/

	.video {
		padding: 0 px2vw(5px, 320px);

		.video-single {
			margin-bottom: 20px;
			padding: px2vw(5px, 320px) px2vw(5px, 320px);
			@include box-shadow(0, 1px, #00000040, 5px);

			.video-wrap {
				.video-poster {
					&:before {
						@include calc(top, "50% - "px2vw(55px, 767px));
						@include calc(left, "50% - "px2vw(55px, 767px));
						width: px2vw(110px, 767px);
						height: px2vw(110px, 767px);
					}

					&:after {
						@include calc(top, "50% - "px2vw(24px, 767px));
						@include calc(left, "50% - "px2vw(15px, 767px));
						border-top: px2vw(24px, 767px) solid transparent;
						border-bottom: px2vw(24px, 767px) solid transparent;
						border-left: px2vw(39px, 767px) solid $blue;
					}
				}
			}

			.content-bg-wrap {
				.content-wrap {
					h3 {
						margin: px2vw(5px, 320px) 0 0;
						line-height: px2vw(25px, 320px);
						font-size: px2vw(18px, 320px);
					}

					.sub-title {
						margin-bottom: px2vw(10px, 320px);
						line-height: px2vw(18px, 320px);
						font-size: px2vw(16px, 320px);
					}

					.content {
						position: relative;
						height: px2vw(36px, 320px);
						line-height: px2vw(18px, 320px);
						font-size: px2vw(12px, 320px);
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;

						&:after {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							@include vertical-gradient($white, #FFFFFF40);
						}
					}

					.more-info {
						line-height: px2vw(18px, 320px);
						@include font('anomalia-regular');
						font-size: px2vw(9px, 320px);
						text-align: center;
						cursor: pointer;

						span {
							position: relative;
							margin-left: px2vw(-10px, 320px);

							&:after {
								content: "";
								position: absolute;
								right: px2vw(-10px, 320px);
								width: px2vw(5px, 320px);
								height: px2vw(5px, 320px);
								border-left: px2vw(1px, 320px) solid $black;
								border-bottom: px2vw(1px, 320px) solid $black;
							}
						}

						&.more {
							display: block;

							span {
								&:after {
									top: 0;
									@include transform(rotate(-45deg));
								}
							}
						}

						&.less {
							display: none;

							span {
								&:after {
									top: px2vw(3px, 320px);
									@include transform(rotate(135deg));
								}
							}
						}
					}

					&.open {
						.content {
							height: auto;
							display: block;

							&:after {
								display: none;
							}
						}

						.more-info {
							&.more {
								display: none;
							}

							&.less {
								display: block !important;
							}
						}
					}
				}
			}

			.list {
				top: px2vw(10px, 320px);
				right: px2vw(10px, 320px);

				li {
					margin-bottom: px2vw(5px, 320px);
					width: px2vw(20px, 320px);
					height: px2vw(20px, 320px);
					line-height: px2vw(20px, 320px);
					font-size: px2vw(13px, 320px);
					border: px2vw(1px, 320px) solid $black;
				}
			}
		}
	}

	/***********/
	/* buttons */
	/***********/

	.anu-btn {
		line-height: 20px;
		font-size: 14px;
		width: 148px;

		&.tickets-btn {
			padding: 6px 5px;
		}

		&.museum-btn {
			padding: 4px 3px;
		}
	}
}