@import "functions";
@import "typography";

@charset "utf-8";

/******************/
/* general layout */
/******************/

* {
	@include reset;
}

body {
	@include font;
	margin: 0 auto;
	color: $landing-black;
	background-color: $content-bg;

	&:before {
		display: none;
	}

	.landing-wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
}

::-webkit-scrollbar-thumb {
	border-radius: 50px;
	border: 5px solid #1f282d;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #8c8d8e;
	height: 100px;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #8c8d8e;
	height: 16px !important;
}

::-webkit-scrollbar-thumb:hover {
	background-color: white;
}

::-webkit-scrollbar {
	height: 16px;
	width: 16px;
	background-color: #1f282d;
}

::-webkit-scrollbar-corner {
	background-color: #1f282d;
}

/**********/
/* header */
/**********/

header {

	/********/
	/* logo */
	/********/

	.logo {
		margin: 30px auto 25px;
	}

	/**************/
	/* page title */
	/**************/

	.page-title {
		margin-bottom: 35px;

		h1 {
			margin: 0 auto;
			padding-bottom: 10px;
			font-weight: $font-normal;
			text-align: center;
			border-bottom-style: solid;
			border-bottom-color: $landing-red;

			& b,
			& strong {
				font-weight: $font-semi-bold;
			}
		}
	}
}

/***********/
/* sliders */
/***********/

.sliders {
	margin-left: -15px;
	margin-right: -15px;
	overflow: hidden;

	.slider {
		.slideshow-placeholder {
			position: relative;

			.slideshow {
				.cycle-carousel-wrap {
					max-width: 100%;
				}

				.slide {
					display: none;

					&:first-child,
					&.cycle-slide {
						display: block;
					}
				}
			}
		}

		.content {
			margin: 0 auto 35px;
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;

			.title {
				h2 {
					margin: 0 auto;
					padding-bottom: 10px;
					font-weight: $font-bold;
					border-bottom-style: solid;
				}
			}

			.excerpt,
			.more-info {
				position: relative;

				.more,
				.less {
					@include center-align;
					cursor: pointer;

					.more-text,
					.less-text {
						text-decoration: underline;
						display: inline;
					}
				}
			}

			.more-info {
				display: none;
			}
		}

		&:nth-child(1) { .content .title h2 { border-bottom-color: $landing-yellow; } }
		&:nth-child(2) { .content .title h2 { border-bottom-color: $landing-red; } }
		&:nth-child(3) { .content .title h2 { border-bottom-color: $landing-blue; } }
	}
}

/**********/
/* footer */
/**********/

footer {
	margin-left: -15px;
	margin-right: -15px;

	.footer-wrapper {
		position: relative;
		background-position: 51% 0;
		background-repeat: no-repeat;
	}
}

/************************/
/* order tickets button */
/************************/

.btn {
	font-weight: $font-bold;
	color: $landing-black !important;
	background-color: $landing-white;
	border-style: solid;
	border-color: $landing-red;
	@include center-align;
	cursor: pointer;
}

/**************/
/* responsive */
/**************/

@media (min-width: 768px) {
	.visible-xs {
		display: none;
	}

	.hidden-xs {
		display: block;
	}

	body {
		line-height: 40px;
		font-size: 30px;

		&:before {
			content: "768";
		}
	}

	/**********/
	/* header */
	/**********/

	header {

		/********/
		/* logo */
		/********/

		.logo {
			width: 278px;
			height: 108px;
		}

		/**************/
		/* page title */
		/**************/

		.page-title {
			h1 {
				width: 63%;
				line-height: 68px;
				font-size: 43px;
				border-bottom-width: 15px;

				& b,
				& strong {
					font-size: 53px;
				}
			}
		}
	}

	/***********/
	/* sliders */
	/***********/

	.sliders {
		.slider {
			.content {
				margin-top: 40px;

				.title {
					margin-bottom: 20px;

					h2 {
						line-height: 60px;
						font-size: 41px;
						border-bottom-width: 15px;
					}
				}

				.excerpt,
				.more-info {
					margin-bottom: 75px;

					&.active {
						margin-bottom: 40px;
					}

					.more,
					.less {
						line-height: 60px;
						font-size: 40px;
					}
				}
			}

			&:nth-child(1) {
				.content {
					width: 63%;
				}
			}

			&:nth-child(2),
			&:nth-child(3) {
				float: left;
				width: 50%;

				.slideshow-placeholder {
					.btn {
						display: none;
					}
				}

				.content {
					width: 90%;
				}
			}
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {
		.footer-wrapper {
			height: 297px;
		}
	}

	/************************/
	/* order tickets button */
	/************************/

	.btn {
		padding: 25px 40px;
		bottom: 40px;
		font-size: 44px;
		border-width: 9px;
		@include border-radius(53px);
	}
}

@media (max-width: 767px) {
	.visible-xs {
		display: block;
	}

	.hidden-xs {
		display: none;
	}

	body {
		line-height: 20px;
		font-size: 14px;

		&:before {
			content: "767";
		}
	}

	/**********/
	/* header */
	/**********/

	header {

		/********/
		/* logo */
		/********/

		.logo {
			width: 132px;
			height: 51px;
		}

		/**************/
		/* page title */
		/**************/

		.page-title {
			h1 {
				line-height: 24px;
				font-size: 14px;
				border-bottom-width: 7.5px;

				& b,
				& strong {
					font-size: 18px;
				}
			}
		}
	}

	/***********/
	/* sliders */
	/***********/

	.sliders {
		.slider {
			.content {
				margin-top: 15px;

				.title {
					margin-bottom: 10px;

					h2 {
						line-height: 26px;
						font-size: 17px;
						border-bottom-width: 7.5px;
					}
				}

				.excerpt,
				.more-info {
					margin-bottom: 40px;

					&.active {
						margin-bottom: 18px;
					}

					.more,
					.less {
						line-height: 26px;
						font-size: 18px;
					}
				}
			}
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {
		.footer-wrapper {
			height: 160px;
		}
	}

	/************************/
	/* order tickets button */
	/************************/

	.btn {
		padding: 10px 25px;
		bottom: 20px;
		font-size: 20px;
		border-width: 4px;
		@include border-radius(25px);
	}
}